.close-modal {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px
}
.close-modal::after,
.close-modal::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px
}
.close-modal::after {
  transform: rotate(-45deg)
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(250, 250, 250);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  background-color: #263238;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar span {
  color: white;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#select, #search, button {
  /* height: 2rem; */
  font-family: 'Nunito', sans-serif;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

button {
  border: 1px solid rgba(38, 50, 56, 0.5);
}

#select {
  margin-left: 1rem;
}
#search {
  margin-left: auto;
}

.card {
  padding: 0.5rem;
  border-radius: 1rem 1rem 0 0;
}

.card-container {
  position: relative;
  padding: 0.5rem;
  padding-bottom: 0;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #263238;
  color: rgb(250, 250, 250);
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  /* border-radius: 1rem 1rem 0 0; */
}

.card img {
  width: 100%;
  /* height: 100%; */
}

p {
  margin: 0;
}

.card {
  font-weight: 700;
  text-transform: capitalize;
}

img.first-type, img.second-type {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: -10px;
  z-index: 1;
  /* border: 1px solid black; */
}

img.first-type {
  left: 5px;
}

img.second-type {
  left: 50px;
}

.card-body > .star {
  width: 40px;
  height: 40px;
  cursor: pointer;
  justify-content: end;
  transition: transform 200ms;
}

.card-body > .star:hover {
  transform: scale(1.2);
}

.stat-bar {
  display: flex;
  justify-content: space-between;
}

.card-container + .card-container {
  background-color: #263238;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0;

}

.card-container.favorite {
  background-color: none;
  padding: 0;
}

.full-card {
  position: relative;
}

.full-card.favorite {
  background: conic-gradient(
    from 90deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
  padding: 0.5rem;
  border-radius: 1rem;
}

div.controls {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

div.controls > div{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
  border-left: 6px solid #4C5264;
  border-top: 6px solid #4C5264;
}

#modal {
  text-align: center;
}

.controls {
  font-weight: 300px;
}

#previous {
  transform: rotate(-45deg);
}

#next {
  transform: rotate(135deg);
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}

#previous:hover {
  border-left: 6px solid #F9E078;
  border-top: 6px solid #F9E078;
  animation: expand2 300ms infinite linear;
}

#next:hover {
  /* border-left: 6px solid #727b94;
  border-top: 6px solid #727b94; */
  border-left: 6px solid #F9E078;
  border-top: 6px solid #F9E078;
  animation: expand2 300ms infinite linear;
}

@keyframes expand1 {
  0% {
    transform: scale(1), rotate(-45deg);
  }
  50% {
    transform: scale(5), rotate(-45deg);
  }
  100% {
    transform: scale(1), rotate(-45deg);
  }
}

@keyframes expand2 {
  0% {
    transform: scale(1), rotate(135deg);
  }
  50% {
    transform: scale(5), rotate(135deg);
  }
  100% {
    transform: scale(1), rotate(135deg);
  }
}

#cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card > p {
  font-weight: 700;
  text-transform: uppercase;
}

/* .stat {
  height: 1rem;
  width: 100%;
  background-color: gray;
  border-radius: 0.25rem;
}

.stat + .stat {
  margin-top: 1rem;
} */

progress {
  height: 1rem;
  width: 60%;
  /* background-color: gray; */
  border-radius: 0.25rem;
}

.stat + .stat {
  margin-top: 1rem;
}

progress::-webkit-progress-bar {
  height: 1rem;
  width: 100%;
  border-radius: 0.25rem;
}

progress::-webkit-progress-value {
  height: 1rem;
  width: 100%;
  border-radius: 0.25rem;
}

progress::-moz-progress-bar {
  height: 1rem;
  width: 100%;
  border-radius: 0.25rem;
}

.stat-bar:nth-child(1) progress::-webkit-progress-bar {
  background-color: #FE5A5A;
}

.stat-bar:nth-child(1) progress::-webkit-progress-value {
  background-color: #FB0101;
}

.stat-bar:nth-child(1) progress::-moz-progress-bar {
  background-color: #FE5A5A;
}

.stat-bar:nth-child(2) progress::-webkit-progress-bar {
  background-color: #F5AC79;
}

.stat-bar:nth-child(2) progress::-webkit-progress-value {
  background-color: #ED7E2F;
}

.stat-bar:nth-child(2) progress::-moz-progress-bar {
  background-color: #F5AC79;
}

.stat-bar:nth-child(3) progress::-webkit-progress-bar {
  background-color: #F9E078;
}

.stat-bar:nth-child(3) progress::-webkit-progress-value {
  background-color: #F5CE30;
}

.stat-bar:nth-child(3) progress::-moz-progress-bar {
  background-color: #F9E078;
}

.stat-bar:nth-child(4) progress::-webkit-progress-bar {
  background-color: #9EBAEB;
}

.stat-bar:nth-child(4) progress::-webkit-progress-value {
  background-color: #678FEE;
}

.stat-bar:nth-child(4) progress::-moz-progress-bar {
  background-color: #9EBAEB;
}

.stat-bar:nth-child(5) progress::-webkit-progress-bar {
  background-color: #B0D491;
}

.stat-bar:nth-child(5) progress::-webkit-progress-value {
  background-color: #77C453;
}

.stat-bar:nth-child(5) progress::-moz-progress-bar {
  background-color: #B0D491;
}

.stat-bar:nth-child(6) progress::-webkit-progress-bar {
  background-color: #F599B5;
}

.stat-bar:nth-child(6) progress::-webkit-progress-value {
  background-color: #F15F8A;
}

.stat-bar:nth-child(6) progress::-moz-progress-bar {
  background-color: #F599B5;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

#modal {
  position: relative;
  width: 90%;
  max-width: 800px;
}

.modal-img {
  width: 100%;
  max-width: 300px;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
}

.name {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.pheno {
  margin-bottom: 1rem;
}

#modal {
  display: flex;
  flex-direction: column;
}

#modal.none {
  display: none;
}

.empty {
  display: block;
  font-size: 3rem;
  font-weight: 700;
}

.empty.none {
  display: none;
}

#modal img {
  margin: 0 auto;
}

#cards {
  margin-bottom: 3rem;
}


.search-bar, .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  margin-left: auto;
}

.search-btn {
  background-color: #35454d;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #40535c;
}

#search {
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  height: 38px;
}


@media screen and (min-width: 360px) {
  .navbar img {
    content: url('./assets/logo.png');
    height: 60px;
  }

  #cards {
    grid-template-columns: repeat(auto-fill, 260px);
  }
}

@media screen and (min-width: 613px) {
  #modal > .content {
    width: 50%;
  }
  #modal > img {
    width: 50%;
    max-width: 300px;
  }

  #modal {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}